<div class="background-faded">
  <div class="background-layer"></div>
  <div class="content-layer">
    <p>TypingReplicaJS</p>

    
    <div class="content">
      <div>
        <div>
          <h1 class="letter" *ngIf="GWPM == null">{{timeLeft}}</h1>
          <h1 class="letter" *ngIf="GWPM != null">GWPM: {{GWPM}}</h1>
        </div>
        <div class="placeholder-div">
          <div class="typing-input">
            <input id="typing-input" (keydown)="onKey($event)" autofocus="true" spellcheck="false" autocomplete="off"
              autocapitalize="false" autocorrect="off" />

            <script>
              focus();
              function focus() {
                document.getElementById('typing-input').focus();
              }
            </script>

          </div>
          <div *ngFor="let letter of paragraphInChar; let i = index ">
            <label [id]="i"
              [ngClass]="colorArray[i] == 1 ? 'correct'  : (colorArray[i] == -1 ? 'letter' : 'incorrect')">{{letter}}</label>
          </div>
        </div>
        <!--<p class="placeholder-text">{{paragraph}}</p>-->
      </div>
      <span>{{valuesInString}}</span>

      <button (click)="getMaxParagraphList()" class="btn">Refresh</button>
    </div>
    <router-outlet></router-outlet>
  </div>

</div>